# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.bak

# Virtual environments
venv/
.venv/
backend/venv/

# Python build
build/
dist/
*.egg-info/

# ===== Node =====
node_modules/
backend/node_modules/

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store

# ===== Frontend =====
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/
frontend/.vite/
# ===== ENV / SECRETS =====
.env
*.env
backend/.env
